---
name: "Update locale slackbuilds - 15.0"
on:
  push:
    branches:
      - "15.0"
  workflow_dispatch:

concurrency: locale-pr-generator

jobs:
  changes:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    outputs:
      locales: ${{ steps.filter.outputs.locales }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          show-progress: false
          persist-credentials: false

      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: filter
        with:
          filters: |
            locales:
              - '.github/scripts/genlocaleslackbuilds'

  update-locale-slackbuilds:
    timeout-minutes: 10
    name: Update locale slackbuilds.
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      pull-requests: write
    needs: [changes]
    if: ${{ needs.changes.outputs.locales == 'true' || github.event_name == 'workflow_dispatch' }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          show-progress: false
          persist-credentials: false

      - name: Set environment variables
        run: |
          grep ^..VERSION= .github/scripts/genlocaleslackbuilds >> "$GITHUB_ENV"

      - name: Install dependencies
        run: |
          sudo apt-get install lftp

      - name: Generate updates
        run: |
          ./.github/scripts/genlocaleslackbuilds network

          git config user.name 'github-actions[bot]'
          git config user.email 'github-actions[bot]@users.noreply.github.com'

          git add network/mozilla-firefox-* || true
          git commit -m "network/mozilla-firefox-l10n-*: Updated for version $FFVERSION." || true

          git add network/mozilla-thunderbird-* || true
          git commit -m "network/mozilla-thunderbird-l10n-*: Updated for version $TBVERSION." || true

          git add network/seamonkey-* || true
          git commit -m "network/seamonkey-l10n-*: Updated for version $SMVERSION." || true

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          title: "[auto] Update locale slackbuilds based on latest ChangeLog.txt."
          branch: autoupdate-locale-slackbuilds
          body: |
            Locale updates:
              - Firefox: ${{ env.FFVERSION }}
              - Thunderbird: ${{ env.TBVERSION }}
              - Seamonkey: ${{ env.SMVERSION }}
