---
name: "Update locale slackbuilds"
on:
  workflow_dispatch:
  schedule:
    - cron: '0 1 * * *'

concurrency: locale-pr-generator

jobs:
  update-locale-slackbuilds:
    timeout-minutes: 10
    name: Update locale slackbuilds.
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          show-progress: false
          persist-credentials: false

      - name: Set environment variables
        run: |
          {
            curl -s -f https://slackware.osuosl.org/slackware64-current/ChangeLog.txt -o ChangeLog.txt
            printf 'FFVERSION=%s\n' "$(sed -n '/mozilla-firefox/p' ChangeLog.txt | sed '/^testing/d' | sed -n 1p | cut -d' ' -f1 | cut -d/ -f2 | sed 's/://' | rev | cut -f3 -d- | rev)"
            printf 'TBVERSION=%s\n' "$(sed -n '/mozilla-thunderbird/p' ChangeLog.txt | sed '/^testing/d' | sed -n 1p | cut -d' ' -f1 | cut -d/ -f2 | sed 's/://' | rev | cut -f3 -d- | rev)"
            grep ^SMVERSION= .github/scripts/genlocaleslackbuilds
            rm ChangeLog.txt
          } >> "$GITHUB_ENV"

      - name: Install dependencies
        run: |
          sudo apt-get install lftp

      - name: Generate updates
        run: |
          sed -i "s/^FFVERSION.*/FFVERSION=$FFVERSION/g" ./.github/scripts/genlocaleslackbuilds
          sed -i "s/^TBVERSION.*/TBVERSION=$TBVERSION/g" ./.github/scripts/genlocaleslackbuilds
          sed -i "s/^SMVERSION.*/SMVERSION=$SMVERSION/g" ./.github/scripts/genlocaleslackbuilds

          ./.github/scripts/genlocaleslackbuilds network

          git checkout ./.github/scripts/genlocaleslackbuilds

          git config user.name 'github-actions[bot]'
          git config user.email 'github-actions[bot]@users.noreply.github.com'

          git add network/mozilla-firefox-* || true
          git commit -m "network/mozilla-firefox-l10n-*: Updated for version $FFVERSION." || true

          git add network/mozilla-thunderbird-* || true
          git commit -m "network/mozilla-thunderbird-l10n-*: Updated for version $TBVERSION." || true

          git add network/seamonkey-* || true
          git commit -m "network/seamonkey-l10n-*: Updated for version $SMVERSION." || true

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          title: "[auto] Update locale slackbuilds based on latest ChangeLog.txt."
          branch: autoupdate-locale-slackbuilds
          body: |
            Locale updates:
              - Firefox: ${{ env.FFVERSION }}
              - Thunderbird: ${{ env.TBVERSION }}
              - Seamonkey: ${{ env.SMVERSION }}
