---
name: Pull request checks
on: [pull_request]

concurrency:
  group: pr-check-${{ github.event.number }}
  cancel-in-progress: true

jobs:
  update-dep:
    permissions:
      contents: write
    runs-on: ubuntu-24.04
    steps:
      - name: Check out Git repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.head_ref }}
          show-progress: false

      - name: Update the md5sum of aws/aws-sdk-cpp.
        run: |
          (
            cd development/ddbsh/
            . ddbsh.info
            # shellcheck disable=SC2086
            wget --content-disposition $DOWNLOAD

            MD5SUM="$(md5sum aws-sdk-cpp*tar* | cut -f1 -d' ')"
            rm -- *tar*

            sed -i "/MD5SUM/,/DOWNLOAD_x86_64/s/[[:space:]][a-z0-9][a-z0-9]*\"/ $MD5SUM\"/" ddbsh.info
          )

          if [[ $(git status --porcelain) ]]; then
            BUILD="$(grep ^BUILD= development/ddbsh/ddbsh.SlackBuild | cut -d= -f2 | cut -d- -f2 | sed 's/}$//')"
            BUILD=$((BUILD + 1))
            sed -i "s/^BUILD.*/BUILD=\${BUILD:-$BUILD}/" development/ddbsh/ddbsh.SlackBuild
          fi

      - name: Push back updated md5sum.
        uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9 # v7.1.0
        with:
          commit_message: Update aws-sdk-cpp MD5SUM.
